body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.message-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

.heart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0; /* Ajustado para garantir que o coração esteja atrás de tudo */
}

.heart {
    width: 100px;
    height: 100px;
    background-color: lime;
    clip-path: polygon(
        50% 15%, 61% 0, 69% 3%, 73% 10%, 75% 21%,
        100% 71%, 50% 100%, 0 71%, 25% 21%, 27% 10%, 31% 3%, 39% 0
    );
    animation: heartbeat 1s infinite;
}

.message {
    font-size: 2rem;
    color: lime;
    z-index: 3;
}

.letter {
    opacity: 0;
    font-size: 2rem;
    animation: fadeInUp 1s forwards, moveInCenter 4s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInCenter {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}
