body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    font-size: 2rem;
    color: lime;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
